body {
    background: rgb(219, 200, 192);
    margin-left: 100px;
    margin-right: 200px;
    font-family:'Montserrat', sans-serif;
}

header{
    margin-top: 70px;
}

h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 18px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 400px;
}

.logo {
    width: 30px;
}

footer {
    margin-bottom: 30px;
}